@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  background-color: #FFFFFF;
  min-height: 100vh;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

